<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Currency Converter</h2>
    <form action="" method="POST" >
        Converting from <input type="text" name="convert_from"><br>
        Converting to <input type="text" name="convert_to"><br>
        Amount <input type="text" name="amount"><br>
        <button>Convert</button>
    </form>
</body>
</html>